<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="sb-admin-2.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body background="images/background-login.png" style="background-size: cover">
    <div class="container">
        <div class="row">
			<div class="col-md-12">
				<div class="login-panel panel panel-white">
					<div class="panel-body">
						<form role="form" action="register" method="post">
							<fieldset>
								<div class="row">
									<div class="col-md-4">
										<h3 class="page-header">Dados do Usuário</h3>
										<h4>Nome completo<br><small>Mateus Silva Luna</small><input type="text" name="nome-completo" class="form-control"></h4>
										<h4>Data de nascimento<br><small>01/12/1999</small><input type="text" name="data-de-nascimento" class="form-control"></h4>
										<h4>Estado civil<br><small>Solteiro</small><input type="text" name="estado-civil" class="form-control"></h4>
										<h4>Endereço<br><small>Rua Treze de Maio, 102</small><input type="text" name="endereco" class="form-control"></h4>
										<h4>Telefone<br><small>(83) 99999-1234</small><input type="text" name="telefone" class="form-control"></h4>
									</div>
									<div class="col-md-4">
										<h3 class="page-header">Plano de Saúde</h3>
										<h4>Seguradora<br><small>Saúde CG</small><input type="text" name="name" class="form-control"></h4>
										<h4>Número<br><small>392187.492-303</small><input type="text" name="name" class="form-control"></h4>
										<h4>Adesão<br><small>01/02/2010</small><input type="text" name="name" class="form-control"></h4>
										<h4>Vencimento<br><small>01/02/2019</small><input type="text" name="name" class="form-control"></h4>
										<h4>Tipo<br><small>AMB+HOSP.C/OBS</small><input type="text" name="name" class="form-control"></h4>
										<h4>Abrangência<br><small>Nacional</small><input type="text" name="name" class="form-control"></h4>
										<h4>Telefone de atendimento<br><small>0800 12 43 12</small><input type="text" name="name" class="form-control"></h4>
									</div>
									<div class="col-md-4">
										<h3 class="page-header">Medicamentos</h3>
										<h4>Cefalexina<br><small>Teuto</small><input type="text" name="name" class="form-control"></h4>
										<h4>Dipirona<br><small>Farmace</small><input type="text" name="name" class="form-control"></h4>
										<h4>Traumafran<br><small>Caresse</small><input type="text" name="name" class="form-control"></h4>
										<h4>Cefalexina<br><small>Teuto</small><input type="text" name="name" class="form-control"></h4>
										<h4>Dipirona<br><small>Farmace</small><input type="text" name="name" class="form-control"></h4>
										<h4>Traumafran<br><small>Caresse</small><input type="text" name="name" class="form-control"></h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<h3 class="page-header">Patologias</h3>
										<h4>Diabetes<br><small>Tipo II</small><input type="text" name="name" class="form-control"></h4>
									</div>
									<div class="col-md-4">
										<h3 class="page-header">Alergias</h3>
										<h4>Lactose<br><small>Congênita</small><input type="text" name="name" class="form-control"></h4>
									</div>
									<div class="col-md-4">

									</div>
								</fieldset>
								<div class="row">
									<div class="col-md-12">
										<input type="submit" class="btn btn-lg btn-azul btn-block" value="Salvar">
									</div>
								</div>
							</form> 
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="sb-admin-2.js"></script>

</body>

</html>
